#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in/
[Dd]ebug/
*.sbr
obj/
[Rr]elease/

# Mac Directory Files
.DS_Store

#Resharper Cache
_ReSharper*/
#Resharper Personal Settings
*.sln.DotSettings.User

# Mac directory file
.DS_Store

# Don't share publish profiles because they contain user-specific info like local publish directory or auth credentials
*Local publish.pubxml
TEMT/TEMTWeb/Properties/PublishProfiles/Local publish.pubxml

# Excel Temp Files
*~$*.xlsx
